#tswcssbuttons {
  width: 90%;
  max-width: 100%;
  text-align: center;
}

#tswcssbuttons ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: outside none none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: black;
  background-color: #99ccff;
  border: 1px outset blue;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: yellow;
  background-color: #0000c0;
}

#tswcontent {
  color: #0d100d !important;
}

#tswcontproper {
  color: black !important;
}

#tswfooter {
  color: black !important;
}

#tswsidecol {
  color: #010101 !important;
}

#tswcontainer {
  color: #010101 !important;
}

#bostonpic {
  image-orientation: 180deg;
}

