body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e2edf7;
}
.cent{
  display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
text-align: center;
}
.smol{
  width: 40%;
}
img {
  max-width: 100%;
  /*width: auto;
  height: auto;*
  display: block; */
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}
img.build{
width: 60%
}
div#tswsidecol {
  float: left;
  width: 20%;
  color: black;
  background-color: #e2edf7;
}

div#tswcontent {
  float: right;
  width: 80%;
  color: black;
  /*background-color: #fcfff3 !important;*/
}

@media only screen and ( max-width : 629px ) {
  div#tswsidecol {
    float: none;
    width: 100%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
  }
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswcontainer {
 
}

div#tswsideproper, div#tswothersideproper {
  padding-left: 5px;
  padding-right: 5px;
}
h1{
	font-size: 70px;
  text-align: center;
}
div#banner {
	border-radius: 5px;
  background-color: powderblue;
  width: 80%;
  padding-left:5%;
  padding-top: 0px;

  height: 150px;
  float: right;
}
div#tswheader {
  color: black;
  /*background-color: white;*/
  width: 6%;
  float: left;
}

div#tswfooter {
  color: black;
  background-color: powderblue;
  position: fixed;
  bottom: 0;
  
  max-height: 5%;
  right: auto;
  left: auto;
  width: 100%;
  border: 3px solid #2321ad;
}

#triangle {
  visibility: visible;
  display: block;
}

#tswheader {
  padding: 2%;
}

p {
  font-family: "Arial", "Helvetica", "sans-serif";
}

div {
  color: #010101 !important;
}

