body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}

div#tswsidecol {
  float: right;
  width: 20%;
  color: black;
  background-color: #e2edf7;
}

div#tswcontent {
  float: right;
  width: 80%;
  color: black;
  background-color: #fcfff3 !important;
}

@media only screen and ( max-width : 629px ) {
  div#tswsidecol {
    float: none;
    width: 100%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
  }
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswcontainer {
  background-color: #e2edf7;
}

div#tswsideproper, div#tswothersideproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswheader {
  color: black;
  background-color: white;
}

div#tswfooter {
  color: black;
  background-color: white;
}

#triangle {
  visibility: visible;
  display: block;
}

#tswheader {
  padding: 10px;
}

p {
  font-family: "Arial", "Helvetica", "sans-serif";
}

div {
  color: #010101 !important;
}

